.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    background-color: black;
    z-index:10;

    a {
        text-decoration: none;
    }

    .monitorContainer {
        margin: 0 auto;
        display: flex;
        justify-content:space-between;
        align-items:center;
        padding: 4px;
        color: black;
        background-color: black;
        z-index:10;
        width:100%;
        overflow: hidden;


        .box {

            display: flex;
            z-index:10;
            width:min-content;

            div {
                padding: 12px;
                cursor:pointer;
                font-weight:1200;
            }

            div:hover {
                color:#f96815;
                transition: color 0.5s;
                display:flex;
                overflow: hidden;
            }
        }
        li {
            padding: 4px;
        }
    }

}